@font-face {
  font-family: MontserratFallback;
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: MontserratFallback;
  src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font: inherit;
}

body {
  font-family: Montserrat, MontserratFallback, sans-serif;
  line-height: 1.2;
  max-inline-size: 80ch;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  border-block-end: 1px solid hsl(0 0% 0%);
  font-size: 1.25rem;
  padding-block-end: 0.2em;
}

a {
  color: hsl(220 80% 50%);
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h3 > span {
  font-style: italic;
  font-weight: 400;
}

svg {
  vertical-align: middle;
}

body > * {
  margin-block-start: var(--flow-space, 1em);
}

.column-2 {
  display: grid;
  grid-template-columns: 16ch auto;
  gap: 1ch;
}

@media screen and (max-width: 32rem) {
  .column-2 {
    display: block;
  }
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}

@media print {
  body {
    text-align: justify;
  }

  h1 {
    margin-block-start: 0;
  }

  a {
    color: black;
    font-weight: inherit;
    text-decoration: none;
  }
}
